//Variables
$bg-gr: radial-gradient( circle farthest-corner at 10% 20%,  rgba(97,186,255,1) 0%, rgba(166,239,253,1) 90.1% );
$bg-color: #4dc8f8;

$menuWidth: 230px;
$fialova: #2e279d;
// Fonts
@font-face {
    font-family: 'BoardFont';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/KgHoloceneRegular-lgjKy.ttf');
}

@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;1,100;1,300;1,400&display=swap');

// Import
@import 'variables';
@import '404';
@import 'main';
@import 'spin';
@import 'navigation';
@import 'homepage';
@import 'packages';
@import 'packagesEdit';
@import 'login';
@import 'message';
@import 'userHome';
@import 'locked';
@import 'scheduled';
@import 'profile';
@import 'navod';
@import 'modalTemplate';
@import 'listPackages';
@import 'studyRoom';


.cursor-poninter{
cursor: pointer;
}
