.locked-package{
    width: 100%;

    &__main{
        width: 100%;
        background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(97,186,255,1) 0%, rgb(104, 224, 248) 90.1% );
        padding: 50px 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        h2{
            font-size: 28px;
        }

        i{
            padding: 0px 20px;
        }

        button{
            color: white;
            border: none; 
            margin-top: 25px;
            width: 200px;
            font-size: 20px;
            padding: 10px 15px;
            cursor: pointer;
            &:hover{
                background: rgb(8, 91, 129);

            }

        }
    }

&__content{
    width: 100%;
    padding: 50px 40px;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

&__content-wrap{
    width: 100%;
    display: flex;
    padding: 50px 0px;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h2{
        font-size: 30px;
        text-transform: uppercase;
        padding: 0px 0px 50px 0px;
        color: rgb(57, 135, 196);

        @media screen and(max-width: 900px){
            font-size: 20px;
        }
    }

    img{
        width: 100%;
    
    }
}

&__content-image{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    img{
        max-width: 900px;
        width: 100%;
    }
}


} 



.register{
    background: rgb(20, 20, 20);

}
.login{
    background: rgb(39, 39, 39);
}

