.loginform{
    width: 100%;
    background: rgb(236, 236, 236);
    padding: 40px;
    height: 94vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    &__wrap{
        width: 600px;
        background: rgb(255, 255, 255);
        padding: 20px;
        border: 1px solid rgb(199, 199, 199);
        border-radius: 20px;

        h2{
            text-align: center;
            padding: 10px 0px 20px 0px;
        }

        form{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            input{
                width: 400px;
                margin: 10px 0px;
                font-size: 20px;
                border-radius: 20px;
                border: 2px solid transparent;
                padding: 10px 30px;
                transition: 0.5s ease border;
                background: rgb(232, 240, 254);
                
                &:focus{
                    outline: none;
                    transition: 0.5s ease border;
                    border: 2px solid rgba(97,186,255,1);
                }

              
                
            }

            button{
                width: 300px;
                border-radius: 20px;
                font-size: 20px;
                margin: 16px 0px;
                padding: 10px 30px;
                border: none;
                background: rgba(97,186,255,1) ;
            }
        }

        

  

    }

}

.remember_me{
         display: flex;
         justify-content: center;
         align-items: center;
         text-align: left;   
         
         input{
             max-width: 40px;
             font-size: 15px;
         }
}

a.password-forgot{
    color: rgb(40, 104, 153);
    margin: 10px 0px;
}