*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    height: auto;
}

a{
    text-decoration: none;
}

// NAV

.main-navigation{
width: 100%;
background: rgb(231, 231, 231);
padding: 40px 0px;



&__links{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    a{
        padding: 0px 10px;
        color: black;
        font-size: 20px;
        text-decoration: none;
        cursor: pointer;
    }
}
}

.app-content{
    width: 100%;

    @media screen and(max-width: 974px){
        &{
            margin-left: 0px;
           width: 100%;
        }
    }

    @media screen and (max-width: 959px){
      //  padding-top: 64px;
    }
}




// MAIN !!!!!



.main-grid{
    min-height: 100vh;
    height: 100%;
    width: 100%;
    transition: 0.5s margin-left;
    padding-top: 74px;
    position: relative;
    background: #f5f7fb;
    display: grid;
    grid-template-columns: 290px 1fr;
    min-height: 100vh;
}

#check:checked ~ .content{
    width: 100%;
    margin-left: 0px;
}



[v-cloak]{
    display: none !important;
}

.delete-message{
    p{
    font-size: 20px;
    }

    .buttons{
        display: flex;

        button{
            margin: 20px 10px;
            width: 100px;
            padding: 10px;
            border: none;
            cursor: pointer;
        }
        .delete{
         background: rgb(138, 51, 51);
         color: white;

        }
    }

}


.headtop{
    &__info{
        width: 100%;
        padding: 30px 60px;
        display: flex;
        align-items: center;

        @media screen and(max-width: 655px){
            flex-direction: column;
        }

        @media screen and (max-width:1399px){
            padding: 15px 30px;
        }
        &--head{
            display: flex;
            width: 50%;
            h2{
                font-weight: bold;
            }

            @media screen and (max-width:1399){
                width: 20%;
            }

            @media screen and(max-width: 655px){
                width: 100%;
            }
        }

        &--buttons{
            width: 50%;
            justify-content: flex-end;
            display: flex;
            @media screen and(max-width: 655px){
                width: 100%;
                justify-content: center;
                align-items: center;
                margin: 20px 0px;
            }
        }


    }

    &--mainButton{
        background: rgba(36, 105, 92, 0.1);
        border: none;
        padding: 10px 10px;
        font-weight: bold;
        color: #24695c;;
        transition: 0.5s ease all;
        margin-left: 30px;
       display: block;
       cursor: pointer;

       &:hover{
        background: #24695c;
        color: white;
       }

       i{
           padding-right: 6px;
       }

    }

    &--delete{
        background: rgba(121, 17, 17, 0.1);
        color: #692424;

        &:hover{
            background: rgb(121, 17, 17);
            color: white;
        }
    }
    &--singleButton{
        background: transparent;
        border: none;
        padding: 0px 10px;
        font-weight: bold;
        font-size: 25px;
       &:hover{
        color: #24695c;
       }



    }
}


.AnswerModal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.281);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'BoardFont';
    color: black;



    &__window{
        width: 800px;
        background: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 80px;
        position: relative;

        @media screen and (min-width: 975px) {
            margin-left: 280px;
        }

        i{
            font-size: 50px;
            color: #24695c;
            padding: 20px 0px;
        }

        h2{
            font-size: 20px;
            padding: 0px 0px 20px 0px;
            color: #24695c;
            text-align: center;
        }

        p{
            text-align: center;
            font-family: 'Fira Sans', sans-serif !important;
        }
    }

    &__close{
        position: absolute;
        right: 7px;
        top: -20px;
        cursor: pointer;
        i{
            font-size: 30px;
        }
    }

}

.offline-error{
    display: table;
    width: 100%;
    height: 100vh  !important;
    text-align: center;
    color: #888;
    &__content{
        display: table-cell;
        vertical-align: middle;

        h1{
            font-size: 50px;
            display: inline-block;
            padding-right: 12px;
            animation: erroroffline .5s alternate infinite;
      }
  }

}


@keyframes erroroffline{
	  from{box-shadow: inset -3px 0px 0px #888;}
	  to{box-shadow: inset -3px 0px 0px transparent;}
}





