.page-wrapper.compact-wrapper .page-body-wrapper .according-menu {
    position: absolute;
    right: 15px;
    top: 12px;
    display: flex !important;
}

.logo-wrapper img {
    max-width: 200px !important;
}

@media screen and (max-width: 1366px){
.page-main-header .main-header-right .nav-right .nav-menus {
    padding: 20px 35px;
}
}

.page-wrapper.compact-wrapper .page-body-wrapper header.main-nav {
    top: 73px;
}


@media screen and (min-width: 975px){
    .toggle-sidebar{
        display: none;
    }
}

@media screen and (min-width: 975px){
    .page-main-header .main-header-right .main-header-left {
        padding: 0px;
        text-align: center;
        display: flex;
        justify-content: center;
    } 
}