.topmenu{
    width: 100%;
    padding: 10px 10px 10px 120px;
    background: #faf9fb;
    -webkit-box-shadow: 3px 2px 19px 11px rgba(0,0,0,0.17);
    box-shadow: 3px 2px 19px 11px rgba(0,0,0,0.17);
    height: 60px;
    display: flex;
    position: fixed;
    z-index: 99;

    input{
        border: none;
        background: white;
        -webkit-box-shadow: 3px 2px 19px 11px rgba(0,0,0,0.17);
        box-shadow: 3px 2px 19px 11px rgba(0,0,0,0.17);
        border-radius: 30px;
        padding: 0px 15px;
        width: 30%;

        &:focus{
            outline: none;
        }
    }

    button{
        background: transparent;
        border: none;
        outline: none;
        margin-left: -33px;
        color: gray;
    }

    &__user{
        width: auto;
        height: 100%;
        margin-left: auto;
        min-width: 250px;
        ul{
            width: 100%;
            height: 100%;
            display: flex;
            li{
                width: 100%;
                display: flex;
                img{
                   max-width: 100%; /* or any custom size */
                    height: 100%;
                    object-fit: contain;
                    display: block;
                    margin-right: 10px;

                }
            }
        }

    }

    &__position{
        color: #969696;
        font-size: 13px;
    }

    &__name{
        color: black;
        font-weight: bold;
        font-size: 16px;
    }

    &__userinfo{
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
    }

    &__submenu{
        display: none !important;
    }




}



.mainmenu{
    z-index: 999;
   width: 90px;
   // width: 260px;
    background: #ffffff;
    height: 100%;
    position: fixed;
    -webkit-box-shadow: 3px 2px 19px 11px rgba(0,0,0,0.17);
    box-shadow: 3px 2px 19px 11px rgba(0,0,0,0.17);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0px 20px 20px 0px;
    span{
        display: none;
    }

    ul{
        list-style-type: none;
        height: 100%;
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    li{
        width: 45px;
        display: flex;
        padding: 8px;
        justify-content: center;
        margin: 20px 0px;


        &:nth-last-child(1){
            margin-top: auto;
            align-items: center;

        }
    }



    a{
        color: gray;
        font-size: 24px;
    }
}

.menuActive{
    background: orange;
    border-radius: 100%;

    -webkit-box-shadow: 15px 26px 34px 1px rgba(255,130,18,0.21);
    box-shadow: 15px 26px 34px 1px rgba(255,130,18,0.21);

    a{
        color: #fcfafa;
    }
}

label{
    #sidebar_btn{
        z-index: 1;
        color: #fff;
        position: fixed;
        cursor: pointer;
        left: 200px;
        font-size: 20px;
        margin: 2px 0px;
        transition: 0.5s color;

        &:hover{
            color: #19B3D3;
        }
    }


}

#check:checked ~ .sidebar {
    left: -165px;

    a span{
        display: none;
    }

    a{
        font-size: 20px;
        margin-left: 145px;
        width: 100%;
    }

}


#check{
    display: none;
}

.profile-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#check:checked ~ .sidebar .profile-info{
   display: none;
}




.mobile_nav{
    display: none;
    z-index: 10;
}

// MOBILE NAV

@media screen and (max-width:780px){
    .sidebar{
        display: none;
    }

    #sidebar_btn{
        display: none;
    }

    .content{
        margin-left: 0;
        margin-top: 0;
        transition: 0s;
    }

    #check:checked ~ .content{
        margin-left: 0;
        width: calc(100% - 0%);
    }

    .mobile_nav{
        display: block;
        width: calc(100% - 0%);

    }

    .nav_bar{
        background: #222;
        width: (100% - 0%);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;

        h3{
            color: #fff;

            a{
                color: #fff;
                text-decoration: none;

            }
        }
    }
    .nav_btn{
        color: #fff;
        font-size: 22Px;
        cursor: pointer;
        transition: 0.5s color;

        &:hover{
            color: #19B3D3;
        }
    }

    .mobile_nav_item{
        background: #2f323A;
        display: none;

        a{
            color: #fff;
            display: block;
            text-align: center;
            letter-spacing: 1px;
            line-height: 60px;
            text-decoration: none;
            box-sizing: border-box;
            transition: 0.5s background;
        }

        a:hover{
            background: #19B3D3;
        }

        i{
            padding-right: 10px;
        }
    }

    .mobile-nav-active{
        display: block;
    }
}

.paddingright{
    padding-right: 20px;
}

.log-reg{
    position: relative;
    float: right;
    margin-right: 40px;
    transition: 0.5s ease all;
    display: flex;

    @media screen and(max-width: 780px){
        width: 100%;
        margin-right: 0px;
        justify-content: center;
    }
}


.log-reg-btn{
    height: 30px;
    border: none;
    margin-top: -4px;
    padding-left: 29px;
    text-decoration: none;
    background: transparent;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 400;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    transition-property: background;
    cursor: pointer;



    i{
        padding-left: 10px;
    }
}

.register-link{
    color: #61baff;
    font-weight: 600;
}

