header{
    z-index: 10;
    position: fixed;
    background: #222227;
   // background-image: linear-gradient( 112.1deg,  rgb(19, 20, 24) 11.4%, rgb(28, 36, 65) 70.2% );    
     padding: 18px;
    width: calc(100% - 0%);
    top: 0;
    height: 60px;
}

.left-area { 

h3{
     color: #fff;
     text-transform: uppercase;
     margin: 0;
     font-size: 22px;
     font-weight: 900;
}

}

.header-btn, .logout_btn{
    height: 30px;
    margin-top: -2px;
    border: none;
    padding: 18px;
    padding-left: 29px;
    border-left: 2px solid rgb(214, 214, 214);
    text-decoration: none;
    background: transparent;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 600;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    transition-property: background;

    i{
        padding-left: 10px;
    }
}

.drop-down{
    position: relative;
    float: right;
    margin-top: -5px;
    margin-right: 40px;
    transition: 0.5s ease all;
    &__content{
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 200px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        z-index: 9000;

        a{
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            transition: 0.5s ease all;

            &:hover{
                background-color: #f1f1f1
            }
        }
    }
}

.drop-down:hover .drop-down__content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }
.logout_btn2{
    padding: 5px;
    background: rgb(255, 255, 255);
    text-decoration: none;
    float: right;
    margin-top: -30px;
    margin-right: 150px;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 600;
    color: rgb(0, 0, 0);
    transition: 0.5s;
    transition-property: background;
}

.logout_btn:hover{
   background: #0D9DBB;
}

.sidebar{
    z-index: 10;
    top: 0;
    background: #161619;
    padding-top: 30px;
    position: fixed;
    left: 0;
    width: 230px;
    height: calc(100%);
    transition: 0.5s left;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.sidebar h4{
    color: #fff;
    text-transform: uppercase;
    padding: 10px;
    font-size: 26px;
    font-weight: 900;

    span{
        font-size: 10px;
        background: rgba(0, 128, 0, 0.37);
        padding: 4px;
        margin-left: 0px;
        

    }
    a{
        text-align: center;
        display: flex;
        display: inline-block;
        margin: 0;
        padding: 0;

        &:hover{
            background: none !important;
        }
    }
   
}

.sidebar {

a{
    color: #fff;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;

    &:hover{
       background: #3e91d14d; 
       border-radius: 10px;
    }

    
}

&__down{
    margin-top: 20px;

}

i{
    padding-right: 10px;
}
}

label{
    #sidebar_btn{
        z-index: 1;
        color: #fff;
        position: fixed;
        cursor: pointer;
        left: 200px;
        font-size: 20px;
        margin: 2px 0px;
        transition: 0.5s color;

        &:hover{
            color: #19B3D3;
        }
    }

    
}

#check:checked ~ .sidebar {
    left: -165px;

    a span{
        display: none;
    }

    a{
        font-size: 20px;
        margin-left: 145px;
        width: 100%;
    }

}


#check{
    display: none;
}

.profile-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#check:checked ~ .sidebar .profile-info{
   display: none;
}




.mobile_nav{
    display: none;
    z-index: 10;
}

// MOBILE NAV 

@media screen and (max-width:780px){
    .sidebar{
        display: none;
    }

    #sidebar_btn{
        display: none;
    }

    .content{
        margin-left: 0;
        margin-top: 0;
        transition: 0s;
    }

    #check:checked ~ .content{
        margin-left: 0;
        width: calc(100% - 0%);
    }  

    .mobile_nav{
        display: block;
        width: calc(100% - 0%);
      
    }

    .nav_bar{
        background: #222;
        width: (100% - 0%);
        margin-top: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;

        h3{
            color: #fff;
        }
    }
    .nav_btn{
        color: #fff;
        font-size: 22Px;
        cursor: pointer;
        transition: 0.5s color;

        &:hover{
            color: #19B3D3;
        }
    }

    .mobile_nav_item{
        background: #2f323A;
        display: none;

        a{
            color: #fff;
            display: block;
            text-align: center;
            letter-spacing: 1px;
            line-height: 60px;
            text-decoration: none;
            box-sizing: border-box;
            transition: 0.5s background;
        }

        a:hover{
            background: #19B3D3;
        }

        i{
            padding-right: 10px;
        }
    }

    .mobile-nav-active{
        display: block;
    }
}

.paddingright{
    padding-right: 20px;
}

.log-reg{
    position: relative;
    float: right;
    margin-top: -5px;
    margin-right: 40px;
    transition: 0.5s ease all;
    display: flex;

    @media screen and(max-width: 780px){
        width: 100%;
        margin-right: 0px;
        justify-content: center;
    }
}


.log-reg-btn{
    height: 30px;
    margin-top: -2px;
    border: none;
    padding: 18px;
    padding-left: 29px;
    text-decoration: none;
    background: transparent;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 400;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    transition-property: background;
    cursor: pointer;

   

    i{
        padding-left: 10px;
    }
}

.register-link{
    color: #61baff;
    font-weight: 600;
}

